<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Grouping</title>
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css">
</head>
<body>
<div class="container">
    <h1>Create Balanced Student Groups</h1>
    <!-- Instructions and sample image -->
    <div class="instructions">
        <p>Please ensure your Excel file is formatted as shown below:</p>
        <p>Column 1 to Column 9</p>
        <!-- <img src="image.png" alt="Sample Excel Format"> -->
        <ul>
            <li><strong>NAME:</strong> Student's full name</li>
            <li><strong>MATRIC NO.:</strong> Student's matriculation number</li>
            <li><strong>Sex:</strong> Gender (M/F)</li>
            <li><strong>CGPA:</strong> Cumulative Grade Point Average</li>
            <li><strong>Openness:</strong> Personality trait score for Openness</li>
            <li><strong>Conscientiousness:</strong> Personality trait score for Conscientiousness</li>
            <li><strong>Extraversion:</strong> Personality trait score for Extraversion</li>
            <li><strong>Agreeableness:</strong> Personality trait score for Agreeableness</li>
            <li><strong>Neuroticism:</strong> Personality trait score for Neuroticism</li>
        </ul>
        <h2>Upload Student Data</h2>
    </div>
    <!-- Form for file upload and number of groups input -->
    <form id="uploadForm">
        <input type="file" id="file" name="file" accept=".xlsx" required>
        <input type="number" id="numberOfGroups" name="numberOfGroups" placeholder="Number of Groups" required min="1">
        <button type="submit">Create Groups</button>
    </form>
    <div id="message" class="message"></div>
</div>
<script type="text/javascript" th:src="@{/script.js}"></script>
</body>
</body>
</html>
